#header {
    background: url(../assets/main.jpg) center center / cover no-repeat ;
  }

#content .teni p{
    color:#f6f6f6!important;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
  }